<style>
  body {
    text-align: center;
    background: #ccc;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  .container {
    width: 550px;
    margin: 2em auto;
    text-align: left;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.3);
    /* padding: 15px; */
  }
  header, section, footer {
    padding: 1px 30px;
  }
  header {
    background: #C44632;
    color: #fff;
    border-radius: 12px 12px 0 0;
  }
  header h1 {
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    text-align: center;
    margin-bottom: 0;
  }  
  header h1 a {
    color: #fff;
    text-decoration: none;;
  }
  header nav {
    text-align: center;
  }
  header nav a {
    color: #fff;
    display: inline-block;
    padding: 5px;
    margin: 5px;
  }
  footer {
    padding-bottom: 10px;
    color: #ccc;
  }
  dl {
    border-left: 4px solid #eee;
    padding-left: 10px;
  }
  dt, dd {
    text-transform: capitalize;
  }
  dt {
    float: left;
    font-weight: bold;
    clear: both;
  }
  dd {
    margin: 0;
  }
  dt::after {
    content: ": ";
  }
</style>

<%
  def link_to(name, url)
    return "<a href='#{url}'>#{name}</a>"
  end
%>

<html>
  <body>
  
  <!-- make use of the @request object to access the GET and POST data -->
  <% if @request.query['first_name'] && !@request.query['first_name'].empty? %>
    <!-- display welcome message -->
    <p>Hello there <%= @request.query['first_name'] %>! You chose the color <%= @request.query['favorite_color'] %>.</p>
  <% else %>
    <!-- display form -->
    <form method='post' action="<%= @request.path %>">
        First name: <input type="text" name="first_name" placeholder='first name'/> <input type="submit" value="Submit" /><br>
        Favorite color: <input type="radio" name="favorite_color" value="Red"> Red <input type="radio" name="favorite_color" value="Blue"> Blue <input type="radio" name="favorite_color" value="Green"> Green
    </form>
  <% end %>
  
  
  <% @person = {name: "Josh", occupation: "web developer", favorite_color: "black"} %>
  <div class="container">
      <header>
        <header>
          <h1><a href="index">Profile for <%= @person[:name] %></a></h1>
          <nav>
            <%= link_to("Profile", "profile") %>
            <%= link_to("Food for the Hungry", "http://fh.org") %>
            <%= link_to("Blood Water Mission", "http://bloodwatermission.com") %>
          </nav>
        </header>
      </header>
      
      <section class="content">
        <%= yield %>
      </section>
      
      <footer>
        <p>
          The time is now:
          <%= Time.now %>
        </p>
        
        <p>
          Thanks for stopping by!
        </p>
      </footer>
    </div>
  </body>
</html>